$gren-color: #64dd17;
$remove-color: #d50000;

html {
  height: calc(101% - 50px);
}
body,
#root {
  height: 101%;
  font-family: "Ubuntu", sans-serif;
}
a {
  color: #000;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:hover {
  text-decoration: underline;
}

.generalContaner {
  display: flex;
  min-height: 100%;
  align-items: center;
  justify-content: center;
}
.forma {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonRAL {
  width: calc(100% - 10px);
}
.passwordForm {
  width: 260px;
}

.linkRAL {
  margin: 10px;
}

.validPassword {
  display: flex;
  position: relative;
  left: -5px;
  flex-direction: row;
  align-items: center;
  width: inherit;
  img {
    display: none;
  }
  h3 {
    display: none;
  }
}
.invalidPassword {
  display: flex;
  position: relative;
  left: 115px;
  flex-direction: row;
  align-items: center;
  width: 500px;
  img {
    margin-left: 20px;
    width: 40px;
  }
  h3 {
    margin-left: 10px;
    width: 100px;
  }
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  border-radius: 4px;
  padding: 5px 10px;
  outline: none;
  background-color: #cccccc;
  color: white;
  height: 40px;
}
.validButton {
  background-color: rgb(118, 153, 250); //
}
input {
  border: 1px solid #cccccc;
  border-radius: 4px;
  outline: none;
  height: 40px;
  font-size: 20px;
  margin: 5px;
  padding: 0 5px 0 10px;
}
input:focus {
  border-color: rgb(118, 153, 250);
}

nav {
  z-index: 999999;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  div {
    flex: 1;
    margin: 0;
    padding: 0;
    background-color: #333;
  }
  a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  a:hover {
    background-color: #111;
  }
  .admin {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .on {
    background-color: $gren-color;
  }
  .off {
    background-color: $remove-color;
  }
}

.ordersBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  form {
    display: flex;
    align-items: center;
  }
  input {
    height: 38px;
  }
  .search {
    display: flex;
    align-items: center;
  }
}

.textRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 5px 5px 5px;
  h1,
  h2,
  h3,
  h4,
  p {
    margin: 0;
    vertical-align: middle;
  }
  p {
    font-size: 20px;
    line-height: 25px;
  }
}

.inputRow {
  justify-content: space-between;
  input {
    max-width: 245px;
  }
}

.radioRow {
  justify-content: space-between;
  align-items: center;
}

.radio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.buttonRow {
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.buttonGroup {
  justify-content: center;
  align-items: center;
  .compliteOrder {
    margin-right: 10px;
    background-color: $gren-color;
  }
  .uncompliteOrder {
    margin-left: 10px;
    background-color: $remove-color;
  }
}

.buttonSaveEdit {
  display: flex;
  width: 100%;
  margin-top: 20px;
  justify-content: center;
  button {
    width: 100px;
    height: 35px;
  }
  .buttonColor {
    background-color: #0091ea;
  }
}

.buttonSaveAndEdit {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 20px;
  .edit {
    background-color: #0277bd;
  }
  .remove {
    background-color: #e91e63;
  }
}
.infiniteScroll {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: hidden;
}
.petsBlock {
  display: flex;
  justify-content: center;
  width: fit-content;
  width: 80%;
}
.pets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  width: 80%;
}

.pet {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  max-height: 330px;
  width: 250px;
  margin: 20px;
  border-radius: 10px;
}

.footerPet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4a148c;
  color: white;
  padding: 0 5px 0 10px;
  height: 60px;
  img {
    height: 30px;
  }
  span {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  h1,
  h2,
  h3,
  h4 {
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    text-overflow: ellipsis;
    margin: 0;
  }
}

.imgPet {
  width: 100%;
  height: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.modalOverlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999999;
  opacity: 1;
  overflow-x: hidden;
  overflow-y: auto;
  animation: show 0.5s ease;
}
@keyframes show {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: flex;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 300px;
  border-radius: 5%;
  background-color: #ffffff;
  span {
    width: 60%;
  }
  button {
    height: 40px;
  }
}

.modalMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 200px;
  border-radius: 10%;
  background-color: #ffffff;
  h2 {
    text-align: center;
  }
}
